@use "@kickstartds/base/lib/global/base.css";
@use "./token/tokens.css";

@use "./components/button/button";
@use "./components/teaser-card/teaser-card";
@use "./components/section/section";
@use "./components/headline/headline";

@use "./selectors";

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/dm-sans-v11-latin-regular.woff2") format("woff2"),
    url("/fonts/dm-sans-v11-latin-regular.woff") format("woff");
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/dm-sans-v11-latin-500.woff2") format("woff2"),
    url("/fonts/dm-sans-v11-latin-500.woff") format("woff");
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/dm-sans-v11-latin-700.woff2") format("woff2"),
    url("/fonts/dm-sans-v11-latin-700.woff") format("woff");
}
